<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- load static files -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap-4.2.1/css/bootstrap.min.css' %}">

    <!-- load widget tweaks -->
    {% load widget_tweaks %}

</head>
<body>
    <div class="container"><br>
        <form action="" method="post">
            {% csrf_token %}
            
            <!-- Hidden fields -->
            {% for hidden_field in form.hidden_fields %}
                {{hidden_field}}
            {% endfor %}

            <!-- Non field erros -->
            {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in form.non_field_errors %}
                        {{error}}
                    {% endfor %}
                </div>
            {% endif %}
            
            
            <!-- Render field -->
            {% for field in form.visible_fields %}
                <div class="form-group">
                    {{field.label_tag}}
                    
                    <!-- form is re-rendered with errors after submission -->
                    {% if form.is_bound %}
                        <!-- field with errors -->
                        {% if field.errors %}
                            {% render_field field class+="form-control is-invalid" %}
                            {% for error in field.errors %}
                                <div class="invalid-feedback">
                                    {{error}}
                                </div>
                            {% endfor %}
                        <!-- field without errors -->
                        {% else %}
                            {% render_field field class="form-control is-valid" %}
                        {% endif %}
                        
                    <!-- first initialization of form -->
                    {% else %}
                        {% render_field field class="form-control" %}
                    {% endif %}

                    <!-- render help text -->
                    {% if field.help_text %}
                        <small class="form-text text-muted">{{field.help_text}}</small>
                    {% endif %}
                </div>
            {% endfor %}

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <script src="{% static 'jquery-3.3.1/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap-4.2.1/js/bootstrap.min.js' %}"></script>
</body>
</html>